<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/2aa707f633.js"></script>
    <title>{% block title %}{% endblock %} - osu!skrungly</title>
  </head>
  <body>
    {% block script %}{% endblock %}
    <header>
      <section class="hero is-primary">
        <div class="hero-body">
          <a href="/">
            <h1 class="title has-text-centered">osu!skrungly</h1>
            <h2 class="subtitle has-text-centered">well this was a mistake but here we are</h2>
          </a>
        </div>
      </section>
      {% block header %}{% endblock %}
    </header>
    <section class="section">
      <div class="container">
        {% block content %}{% endblock %}
      </div>
    </section>
  </body>
</html>
