{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  <div class="box">
    {% for user in users %}
    <div class="block card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <a href="/u/{{ user['id'] }}">
              <figure class="image is-128x128">
                <img src="https://a.skrungly.com/{{ user['id'] }}">
              </figure>
            </a>
          </div>

          <div class="media-content">
            <p class="title is-4">
              <a class="has-text-dark" href="/u/{{ user['id'] }}">
                {{ user['name'] }}
              </a>
            </p>
            {% if user['userpage_content'] %}
            <p class="subtitle">{{ user['userpage_content'] }}</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
