@font-face {
  font-family: Aller;
  src: url("./fonts/Aller_Rg.ttf");
}

@font-face {
  font-family: Aller;
  src: url("./fonts/Aller_Bd.ttf");
  font-weight: bold;
}

body {
  font-family: Aller, Arial, Helvetica, sans-serif;
  margin: 0;
  min-height: 100vh;

  color: #ffffff;
  background: #242424;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.5rem 0;
}

button {
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;
}

.svg-inline--fa {
  margin: 0 0.5rem;
}

section {
  padding: 1rem;
  background-color: #00000020;
  border-radius: 0.5rem;
}

.section__banner {
  margin: -1rem -1rem 0rem -1rem;
  width: calc(100% + 2rem);
  height: calc((100vw - 2em) / 6);
  max-height: calc(85rem / 6);
}

.section__banner img {
  border-radius: 0.5rem 0.5rem 0 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

@media screen and (max-width: 35em) {
  section {
    h1, h2, h3, h4, h5, h6 {
      text-align: center;
    }
  }
}
