<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/font-awesome/css/fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/font-awesome/css/solid.min.css') }}">
    <title>{% block title %}{% endblock %} - osu!skrungly</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/"><img src="{{ url_for('static', filename='logo.svg') }}"></a>
        <div class="nav__links">
          <a href="/players">
            <i class="fa-solid fa-users"></i>
            <span>players</span>
          </a>
          <a href="/beatmaps">
            <i class="fa-solid fa-music"></i>
            <span>beatmaps</span>
          </a>
          <a class="nav__link--split" href="/login">
            <i class="fa-solid fa-right-to-bracket"></i>
            <span>login</span>
          </a>
        </div>
      </nav>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
